<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Dining on the dime</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
  <section>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img
          src="https://cloudfront-us-east-1.images.arcpublishing.com/tronc/4SVX5KBDRJDNPELKOCUDFZH5XI.jpg"
          alt="friend photo" />
      </div>

  </section>
  <section class="hero is-large has-background-info-light">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="subtitle">Welcome to</h1>
        <h2 class="title">Dining on a Dime</h2>
        <h1 class="subtitle profession">A safe space for broke college students.</h1>
      </div>
    </div>


  </section>

<section>
          <!-- Begin Contact Content -->
      <div class="section-light m-5 contact" id="contact">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title mt-3">
                Find Your Match:
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
              
                <div class="field">
                  <label class="label m-5">Where do you live?</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Ex. 2301 New Hampshire Rd"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">How much is in your bank account?</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Ex. 10000"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Distance you are willing to travel(miles)?</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Ex. 5"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">What's your budget(dollars)?</label>
                  <div class="control has-icons-left">
                    <input
                      class="input"
                      type="email"
                      placeholder="Ex. 200"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <div class="control ">
                    <a href="results.html">
                    <button class="button is-large submit-button is-info">
                      Submit</a>
                    </button>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
  </section>
  <!--
This script places a badge on your repl's full-browser view back to your repl's cover page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green, teal, blue, blurple, magenta, pink!
-->


  <script src="script.js" theme="blue" defer></script>
</body>

</html>